body {
    background: grey;
}

#gallery ul {
    list-style: none;
}

#gallery li {
    display: inline-block;
}

#gallery img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border-width: 10px;
    border-style: solid;
    border-color: transparent;
    cursor: pointer;
}

#gallery .selected img {
    border-color: yellow;
}

.next-button {
    padding-left: 5px;
    width: calc(70px - 5px);
    height: 70px;
    background-color: black;
    border-radius: 50%;
    box-shadow: 0 6px 10px 0 #666;

    font-size: 50px;
    line-height: 70px;
    color: yellow;
    text-align: center;

    position: fixed;
    right: 50px;
    bottom: 50px;

    transition: all 0.1s ease-in-out;

    cursor: pointer;
}

.next-button:hover {
    box-shadow: 0 6px 14px 0 #666;
    transform: scale(1.05);
}

.next-button.disabled {
    opacity: 0.5;
    cursor: initial;
}

.next-button.disabled:hover {
    transform: none;
    box-shadow: none;
}

#hiddenForm {
    display: none;
    visibility: hidden;
}