<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" media="all">
        <link rel="stylesheet" href="/static/style.css" />
        <title>TITLE</title>
    </head>
    <body>
        {% for category in images.keys() %}
            <ul>
                {% for image in images[category] %}
                    <li><img src="/static/images/{{ category + '/' + image }}"></li>
                {% endfor %}
            </ul>
        {% endfor %}
    </body>
</html>